# Boston Crime Data Project

Downloads libraries and data and creates dataframe

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
bcd = pd.read_csv('crime.csv', parse_dates = ['OCCURRED_ON_DATE'])
# bcd

Replaces all Y values in SHOOTING column with 1 and all NaN values with 0, then casts them from integers to booleans (1 = True, 0 = False)

In [8]:
bcd['SHOOTING'] = bcd['SHOOTING'].fillna(0) 
bcd['SHOOTING'] = bcd['SHOOTING'].replace(['Y'], 1) 
bcd['SHOOTING'] = bcd['SHOOTING'].astype(bool)
# bcd

## When are shootings happening the most?

Finds only the rows where SHOOTING == True, then counts the number of shootings per month per year

In [9]:
shootings = bcd.loc[bcd['SHOOTING'] == True]
shootings = shootings.groupby(['MONTH', 'YEAR']).count()
shootings

            INCIDENT_NUMBER  OFFENSE_CODE  OFFENSE_CODE_GROUP  \
MONTH YEAR
1     2016               17            17                  17
      2017               22            22                  22
      2018               31            31                  31
2     2016               13            13                  13
      2017               23            23                  23
      2018               16            16                  16
3     2016               12            12                  12
      2017               18            18                  18
      2018                9             9                   9
4     2016               13            13                  13
      2017               38            38                  38
      2018               20            20                  20
5     2016               22            22                  22
      2017               22            22                  22
      2018               27            27                  27
6     2015               12            12                  12
      2016               34            34                  34
      2017               41            41                  41
      2018               34            34                  34
7     2015               41            41                  41
      2016               28            28                  28
      2017               39            39                  39
      2018               27            27                  27
8     2015               38            38                  38
      2016               28            28                  28
      2017               22            22                  22
      2018               21            21                  21
9     2015               22            22                  22
      2016               21            21                  21
      2017               37            37                  37
10    2015               15            15                  15
      2016               33            33                  33
      2017               38            38                  38
11    2015               21            21                  21
      2016               28            28                  28
      2017               23            23                  23
12    2015               36            36                  36
      2016               30            30                  30
      2017               47            47                  47

            OFFENSE_DESCRIPTION  DISTRICT  REPORTING_AREA  SHOOTING  \
MONTH YEAR
1     2016                   17        17              17        17
      2017                   22        22              22        22
      2018                   31        31              31        31
2     2016                   13        13              13        13
      2017                   23        23              23        23
      2018                   16        16              16        16
3     2016                   12        12              12        12
      2017                   18        18              18        18
      2018                    9         9               9         9
4     2016                   13        13              13        13
      2017                   38        38              38        38
      2018                   20        20              20        20
5     2016                   22        22              22        22
      2017                   22        22              22        22
      2018                   27        27              27        27
6     2015                   12        12              12        12
      2016                   34        34              34        34
      2017                   41        41              41        41
      2018                   34        34              34        34
7     2015                   41        41              41        41
      2016                   28        28              28        28
      2017                   39        39              39        39
      2018                   27        27              27        27
8     2015                   38        38              38        38
      2016                   28        28              28        28
      2017                   22        22              22        22
      2018                   21        21              21        21
9     2015                   22        22              22        22
      2016                   21        21              21        21
      2017                   37        37              37        37
10    2015                   15        15              15        15
      2016                   33        33              33        33
      2017                   38        38              38        38
11    2015                   21        19              21        21
      2016                   28        28              28        28
      2017                   23        23              23        23
12    2015                   36        36              36        36
      2016                   30        30              30        30
      2017                   47        47              47        47

            OCCURRED_ON_DATE  DAY_OF_WEEK  HOUR  UCR_PART  STREET  Lat  Long  \
MONTH YEAR
1     2016                17           17    17        17      17   17    17
      2017                22           22    22        22      20   22    22
      2018                31           31    31        30      28   24    24
2     2016                13           13    13        12      13   13    13
      2017                23           23    23        23      21   21    21
      2018                16           16    16        16      13   16    16
3     2016                12           12    12        12      12   12    12
      2017                18           18    18        18      18   18    18
      2018                 9            9     9         9       8    8     8
4     2016                13           13    13        13      13   13    13
      2017                38           38    38        38      37   37    37
      2018                20           20    20        20      19   19    19
5     2016                22           22    22        22      22   22    22
      2017                22           22    22        21      22   22    22
      2018                27           27    27        27      27   27    27
6     2015                12           12    12        12      12   12    12
      2016                34           34    34        34      34   34    34
      2017                41           41    41        41      41   41    41
      2018                34           34    34        34      34   34    34
7     2015                41           41    41        41      40   39    39
      2016                28           28    28        28      28   27    27
      2017                39           39    39        39      36   35    35
      2018                27           27    27        27      27   26    26
8     2015                38           38    38        38      36   36    36
      2016                28           28    28        28      28   25    25
      2017                22           22    22        22      22   22    22
      2018                21           21    21        21      21   21    21
9     2015                22           22    22        22      22   22    22
      2016                21           21    21        21      19   19    19
      2017                37           37    37        37      37   37    37
10    2015                15           15    15        15      15   15    15
      2016                33           33    33        33      33   29    29
      2017                38           38    38        37      38   37    37
11    2015                21           21    21        21      20   20    20
      2016                28           28    28        28      28   28    28
      2017                23           23    23        23      22   22    22
12    2015                36           36    36        36      36   36    36
      2016                30           30    30        29      30   30    30
      2017                47           47    47        47      47   47    47

            Location
MONTH YEAR
1     2016        17
      2017        22
      2018        31
2     2016        13
      2017        23
      2018        16
3     2016        12
      2017        18
      2018         9
4     2016        13
      2017        38
      2018        20
5     2016        22
      2017        22
      2018        27
6     2015        12
      2016        34
      2017        41
      2018        34
7     2015        41
      2016        28
      2017        39
      2018        27
8     2015        38
      2016        28
      2017        22
      2018        21
9     2015        22
      2016        21
      2017        37
10    2015        15
      2016        33
      2017        38
11    2015        21
      2016        28
      2017        23
12    2015        36
      2016        30
      2017        47

In [7]:
sns.barplot(x = shootings['MONTH'], y = shootings['SHOOTING'])
plt.show()

AttributeError: 'MultiIndex' object has no attribute 'MONTH'