# Age of People in Congress

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [2]:
congress = pd.read_csv('congress-terms.csv', parse_dates=True)
congress

,congress,chamber,bioguide,firstname,middlename,lastname,suffix,birthday,state,party,incumbent,termstart,age
0,80,house,M000112,Joseph,Jefferson,Mansfield,NaN,1861-02-09,TX,D,Yes,1947-01-03,85.9
1,80,house,D000448,Robert,Lee,Doughton,NaN,1863-11-07,NC,D,Yes,1947-01-03,83.2
2,80,house,S000001,Adolph,Joachim,Sabath,NaN,1866-04-04,IL,D,Yes,1947-01-03,80.7
3,80,house,E000023,Charles,Aubrey,Eaton,NaN,1868-03-29,NJ,R,Yes,1947-01-03,78.8
4,80,house,L000296,William,NaN,Lewis,NaN,1868-09-22,KY,R,No,1947-01-03,78.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18630,113,senate,B000243,Max,S.,Baucus,NaN,1937-12-10,MT,D,Yes,2013-01-03,75.1
18631,113,senate,C001099,William,NaN,Cowan,NaN,1965-04-03,MA,D,No,2013-01-03,47.8
18632,113,senate,C001100,Jeffrey,Scott,Chiesa,NaN,1961-06-21,NJ,R,No,2013-01-03,51.5
18633,113,senate,K000148,John,Forbes,Kerry,NaN,1939-12-10,MA,D,Yes,2013-01-03,73.1
18634,113,senate,L000123,Frank,R.,Lautenberg,NaN,1920-01-22,NJ,D,Yes,2013-01-03,93.0

In [3]:
congress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18635 entries, 0 to 18634
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   congress    18635 non-null  int64
 1   chamber     18635 non-null  object
 2   bioguide    18635 non-null  object
 3   firstname   18635 non-null  object
 4   middlename  15099 non-null  object
 5   lastname    18635 non-null  object
 6   suffix      1698 non-null   object
 7   birthday    18635 non-null  object
 8   state       18635 non-null  object
 9   party       18635 non-null  object
 10  incumbent   18635 non-null  object
 11  termstart   18635 non-null  object
 12  age         18635 non-null  float64
dtypes: float64(1), int64(1), object(11)
memory usage: 1.8+ MB

In [4]:
congress['termstart'] = [pd.to_datetime(d, '%Y-%m-%d') for d in congress['termstart']]
# type(congress['termstart'][0])

AssertionError:

In [ ]:
congress.info()

In [ ]:
type(congress.termstart[0])

## Which party elects older politicians?

In [ ]:
dem = pd.DataFrame(congress.loc[congress.party=='D'])
dem

Creates a dataframe that contains only Democrats

In [ ]:
rep = pd.DataFrame(congress.loc[congress.party=='R'])
rep

Creates a dataframe containing only Republicans

In [ ]:
# is this even a good graph to use
# like can I actually draw any conclusions from this

sns.distplot(a=dem['age'], label='Democrats', kde=False)
sns.distplot(a=rep['age'], label='Republicans', kde=False)

plt.title('Age of Congressmen by Party')
plt.xlabel('Age')
plt.ylabel('Number of Congressmen')
plt.legend()
plt.show()

Creates a histogram comparing the number of politicians elected per party at each age

#### Results: 
Shows that more Democrats are elected than Republicans, so technically, Democrats elect more older politicians

## Are politicians getting older or younger?

In [ ]:
plt.figure(figsize=(15,10))
plt.title('Average Age of Congressmen Over Time')
plt.xlabel('Date')
plt.xticks(rotation=45)
plt.ylabel('Age')

sns.lineplot(x=congress['termstart'], y=congress['age']) 

plt.show()

Creates a line plot showing the average age of congressmen elected each year.
#### Results:
Over time, the average age of congressmen has increased from (find age) in 1947 to (find age) in 2013.