# Project 2: College Majors

### Downloading the data and creating the data frame

In [1]:
import pandas as pd
rgd = pd.read_csv('recent-grads.csv', index_col = 0)
df = pd.DataFrame(rgd)
pd.set_option('display.max_columns', None)
df

,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,Full_time,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
Rank,,,,,,,,,,,,,,,,,,,,
1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,1849,270,1207,37,0.018381,110000,95000,125000,1534,364,193
2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,556,170,388,85,0.117241,75000,55000,90000,350,257,50
3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,558,133,340,16,0.024096,73000,50000,105000,456,176,0
4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,1069,150,692,40,0.050125,70000,43000,80000,529,102,0
5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,23170,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,6259,5043,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,2125,1848,572,1211,148,0.065112,25000,24000,34000,1488,615,82
171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,1724,648,1293,368,0.149048,25000,25000,40000,986,870,622
172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,3777,3154,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,742,593,237,410,87,0.104946,22000,20000,22000,288,338,192

## Cleaning the data

In [2]:
# https://datatofish.com/rows-with-nan-pandas-dataframe/
df[df.isnull().any(axis=1)]
df = df.dropna()
df

,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,Full_time,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
Rank,,,,,,,,,,,,,,,,,,,,
1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,1849,270,1207,37,0.018381,110000,95000,125000,1534,364,193
2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,556,170,388,85,0.117241,75000,55000,90000,350,257,50
3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,558,133,340,16,0.024096,73000,50000,105000,456,176,0
4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,1069,150,692,40,0.050125,70000,43000,80000,529,102,0
5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,23170,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,6259,5043,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,2125,1848,572,1211,148,0.065112,25000,24000,34000,1488,615,82
171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,1724,648,1293,368,0.149048,25000,25000,40000,986,870,622
172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,3777,3154,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,742,593,237,410,87,0.104946,22000,20000,22000,288,338,192

Removes any null values to be able to more accurately interpret the data.

### Describing the data

In [3]:
df.describe()

,Major_code,Total,Men,Women,ShareWomen,Sample_size,Employed,Full_time,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
count,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.00000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000
mean,3895.953488,39370.081395,16723.406977,22646.674419,0.522223,357.941860,31355.80814,26165.767442,8877.232558,19798.843023,2428.412791,0.068024,40076.744186,29486.918605,51386.627907,12387.401163,13354.325581,3878.633721
std,1679.240095,63483.491009,28122.433474,41057.330740,0.231205,619.680419,50777.42865,42957.122320,14679.038729,33229.227514,4121.730452,0.030340,11461.388773,9190.769927,14882.278650,21344.967522,23841.326605,6960.467621
min,1100.000000,124.000000,119.000000,0.000000,0.000000,2.000000,0.00000,111.000000,0.000000,111.000000,0.000000,0.000000,22000.000000,18500.000000,22000.000000,0.000000,0.000000,0.000000
25%,2403.750000,4549.750000,2177.500000,1778.250000,0.336026,42.000000,3734.75000,3181.000000,1013.750000,2474.750000,299.500000,0.050261,33000.000000,24000.000000,41750.000000,1744.750000,1594.000000,336.750000
50%,3608.500000,15104.000000,5434.000000,8386.500000,0.534024,131.000000,12031.50000,10073.500000,3332.500000,7436.500000,905.000000,0.067544,36000.000000,27000.000000,47000.000000,4467.500000,4603.500000,1238.500000
75%,5503.250000,38909.750000,14631.000000,22553.750000,0.703299,339.000000,31701.25000,25447.250000,9981.000000,17674.750000,2397.000000,0.087247,45000.000000,33250.000000,58500.000000,14595.750000,11791.750000,3496.000000
max,6403.000000,393735.000000,173809.000000,307087.000000,0.968954,4212.000000,307933.00000,251540.000000,115172.000000,199897.000000,28169.000000,0.177226,110000.000000,95000.000000,125000.000000,151643.000000,148395.000000,48207.000000

Some initial observations: 
- On average, the number of women in a major is higher than the number of men.
- The average ShareWomen is 0.52, but the standard deviation is 0.23, so there is still a lot of division between men and women in majors.

In [4]:
df.corr()

,Major_code,Total,Men,Women,ShareWomen,Sample_size,Employed,Full_time,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
Major_code,1.000000,0.196784,0.179299,0.181459,0.259211,0.203375,0.197345,0.195857,0.191798,0.202203,0.220472,0.137163,-0.167237,-0.165593,-0.083655,0.036486,0.229562,0.222541
Total,0.196784,1.000000,0.878088,0.944764,0.142999,0.945575,0.996214,0.989339,0.950268,0.981112,0.974768,0.083192,-0.106738,-0.071926,-0.083198,0.800465,0.941247,0.935510
Men,0.179299,0.878088,1.000000,0.672759,-0.112014,0.875176,0.870605,0.893563,0.751592,0.892454,0.869411,0.101502,0.025991,0.038725,0.052393,0.563168,0.851500,0.791336
Women,0.181459,0.944764,0.672759,1.000000,0.297832,0.862606,0.944037,0.917681,0.954513,0.905720,0.911694,0.059108,-0.182842,-0.137738,-0.164528,0.851946,0.872132,0.904470
ShareWomen,0.259211,0.142999,-0.112014,0.297832,1.000000,0.097496,0.147547,0.120200,0.212290,0.112523,0.121243,0.073205,-0.618690,-0.500199,-0.586932,0.195550,0.137007,0.187850
Sample_size,0.203375,0.945575,0.875176,0.862606,0.097496,1.000000,0.964406,0.978362,0.824544,0.985212,0.917934,0.062955,-0.064475,-0.024429,-0.052256,0.701231,0.915335,0.860116
Employed,0.197345,0.996214,0.870605,0.944037,0.147547,0.964406,1.000000,0.995831,0.934418,0.991031,0.968855,0.071374,-0.104399,-0.066706,-0.083996,0.797193,0.941236,0.927122
Full_time,0.195857,0.989339,0.893563,0.917681,0.120200,0.978362,0.995831,1.000000,0.900711,0.998200,0.960042,0.066616,-0.079031,-0.042131,-0.061429,0.772135,0.933021,0.904714
Part_time,0.191798,0.950268,0.751592,0.954513,0.212290,0.824544,0.934418,0.900711,1.000000,0.880656,0.945009,0.112247,-0.187516,-0.152827,-0.155224,0.804673,0.909495,0.951525
Full_time_year_round,0.202203,0.981112,0.892454,0.905720,0.112523,0.985212,0.991031,0.998200,0.880656,1.000000,0.950635,0.060382,-0.069750,-0.032205,-0.053287,0.754849,0.928764,0.892690
Unemployed,0.220472,0.974768,0.869411,0.911694,0.121243,0.917934,0.968855,0.960042,0.945009,0.950635,1.000000,0.168651,-0.123622,-0.091467,-0.093954,0.713362,0.956467,0.955325
Unemployment_rate,0.137163,0.083192,0.101502,0.059108,0.073205,0.062955,0.071374,0.066616,0.112247,0.060382,0.168651,1.000000,-0.115769,-0.097945,-0.039933,-0.011694,0.119566,0.131573
Median,-0.167237,-0.106738,0.025991,-0.182842,-0.618690,-0.064475,-0.104399,-0.079031,-0.187516,-0.069750,-0.123622,-0.115769,1.000000,0.893374,0.901158,-0.047060,-0.171815,-0.207153
P25th,-0.165593,-0.071926,0.038725,-0.137738,-0.500199,-0.024429,-0.066706,-0.042131,-0.152827,-0.032205,-0.091467,-0.097945,0.893374,1.000000,0.735996,-0.010731,-0.138205,-0.173218
P75th,-0.083655,-0.083198,0.052393,-0.164528,-0.586932,-0.052256,-0.083996,-0.061429,-0.155224,-0.053287,-0.093954,-0.039933,0.901158,0.735996,1.000000,-0.052966,-0.136397,-0.170836
College_jobs,0.036486,0.800465,0.563168,0.851946,0.195550,0.701231,0.797193,0.772135,0.804673,0.754849,0.713362,-0.011694,-0.047060,-0.010731,-0.052966,1.000000,0.612877,0.649720
Non_college_jobs,0.229562,0.941247,0.851500,0.872132,0.137007,0.915335,0.941236,0.933021,0.909495,0.928764,0.956467,0.119566,-0.171815,-0.138205,-0.136397,0.612877,1.000000,0.975699
Low_wage_jobs,0.222541,0.935510,0.791336,0.904470,0.187850,0.860116,0.927122,0.904714,0.951525,0.892690,0.955325,0.131573,-0.207153,-0.173218,-0.170836,0.649720,0.975699,1.000000

Observations:
- Pretty high correlation between ShareWomen and Rank - women are working lower-paid jobs
- Almost no correlation between the number of men in a major and the ranking - men are working a variety of jobs at different pay grades

### What are women (not) majoring in?

In [5]:
df.nlargest(10, 'ShareWomen')

,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,Full_time,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
Rank,,,,,,,,,,,,,,,,,,,,
165,2307,EARLY CHILDHOOD EDUCATION,37589.0,1167.0,36422.0,Education,0.968954,342,32551,27569,7001,20748,1360,0.040105,28000,21000,35000,23515,7705,2868
164,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,38279.0,1225.0,37054.0,Health,0.967998,95,29763,19975,13862,14460,1487,0.047584,28000,20000,40000,19957,9404,5125
52,6104,MEDICAL ASSISTING SERVICES,11123.0,803.0,10320.0,Health,0.927807,67,9168,5643,4107,4290,407,0.042507,42000,30000,65000,2091,6948,1270
139,2304,ELEMENTARY EDUCATION,170862.0,13029.0,157833.0,Education,0.923745,1629,149339,123177,37965,86540,7297,0.046586,32000,23400,38000,108085,36972,11502
151,2901,FAMILY AND CONSUMER SCIENCES,58001.0,5166.0,52835.0,Industrial Arts & Consumer Services,0.910933,518,46624,36747,15872,26906,3355,0.067128,30000,22900,40000,20985,20133,5248
101,2310,SPECIAL NEEDS EDUCATION,28739.0,2682.0,26057.0,Education,0.906677,246,24639,21584,5153,16642,1067,0.041508,35000,32000,42000,20185,3797,1179
157,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,9374.0,885.0,8489.0,Psychology & Social Work,0.905590,89,8294,6455,2405,5061,326,0.037819,30000,24000,35000,2878,4595,724
152,5404,SOCIAL WORK,53552.0,5137.0,48415.0,Psychology & Social Work,0.904075,374,45038,34941,13481,27588,3329,0.068828,30000,25000,35000,27449,14416,4344
35,6107,NURSING,209394.0,21773.0,187621.0,Health,0.896019,2554,180903,151191,40818,122817,8497,0.044863,48000,39000,58000,151643,26146,6193
89,6199,MISCELLANEOUS HEALTH MEDICAL PROFESSIONS,13386.0,1589.0,11797.0,Health,0.881294,81,10076,7514,4145,5868,893,0.081411,36000,23000,42000,5652,3835,1422

Finds the 10 majors with the highest ShareWomen, which are predominantly in health, education, and psychology & social work.

In [6]:
df.nsmallest(10, 'ShareWomen')

,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,Full_time,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
Rank,,,,,,,,,,,,,,,,,,,,
74,3801,MILITARY TECHNOLOGIES,124.0,124.0,0.0,Industrial Arts & Consumer Services,0.000000,4,0,111,0,111,0,0.000000,40000,40000,40000,0,0,0
67,2504,MECHANICAL ENGINEERING RELATED TECHNOLOGIES,4790.0,4419.0,371.0,Engineering,0.077453,71,4186,4175,247,3607,250,0.056357,40000,27000,52000,1861,2121,406
27,5601,CONSTRUCTION SERVICES,18498.0,16820.0,1678.0,Industrial Arts & Consumer Services,0.090713,295,16318,15690,1751,12313,1042,0.060023,50000,36000,60000,3275,5351,703
2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,556,170,388,85,0.117241,75000,55000,90000,350,257,50
4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,1069,150,692,40,0.050125,70000,43000,80000,529,102,0
9,2414,MECHANICAL ENGINEERING,91227.0,80320.0,10907.0,Engineering,0.119559,1029,76442,71298,13101,54639,4650,0.057342,60000,48000,70000,52844,16384,3253
1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,1849,270,1207,37,0.018381,110000,95000,125000,1534,364,193
107,5901,TRANSPORTATION SCIENCES AND TECHNOLOGIES,15150.0,13257.0,1893.0,Industrial Arts & Consumer Services,0.124950,180,12266,11688,2633,9170,962,0.072725,35000,22000,52000,4575,6147,557
112,1302,FORESTRY,3607.0,3156.0,451.0,Agriculture & Natural Resources,0.125035,48,3007,2473,891,1763,322,0.096726,35000,28600,48000,1096,1692,327
12,2401,AEROSPACE ENGINEERING,15058.0,12953.0,2105.0,Engineering,0.139793,147,11391,11106,2724,8790,794,0.065162,60000,42000,70000,8184,2425,372

Finds the 10 majors with the lowest ShareWomen, which are predominantly in engineering

In [7]:
highestShrWmn = len(df.loc[(df.ShareWomen > 0.5), ['Major', 'ShareWomen']])
highestShrWmn

96

Shows that more than half of the majors are predominantly women, which is consistent with earlier observations

## Creating a series

In [8]:
majCats = pd.Series(df['Major_category']).unique()
majCats

array(['Engineering', 'Business', 'Physical Sciences',
       'Law & Public Policy', 'Computers & Mathematics',
       'Industrial Arts & Consumer Services', 'Arts', 'Health',
       'Social Science', 'Biology & Life Science', 'Education',
       'Agriculture & Natural Resources', 'Humanities & Liberal Arts',
       'Psychology & Social Work', 'Communications & Journalism',
       'Interdisciplinary'], dtype=object)

Creates a series which contains all of the different categories of majors in the data frame

### What is the average ShareWomen in each Major_category?

In [9]:
means = []

for category in majCats: 
    maj = df.loc[df.Major_category == category]
    majMean = sum(maj.ShareWomen) / len(maj)
    means.append(majMean)

meanShrWmn = pd.Series(means, index = majCats)
meanShrWmn

Engineering                            0.238889
Business                               0.483198
Physical Sciences                      0.508683
Law & Public Policy                    0.483649
Computers & Mathematics                0.311772
Industrial Arts & Consumer Services    0.349523
Arts                                   0.603658
Health                                 0.795152
Social Science                         0.553962
Biology & Life Science                 0.587193
Education                              0.748507
Agriculture & Natural Resources        0.405267
Humanities & Liberal Arts              0.631790
Psychology & Social Work               0.794397
Communications & Journalism            0.658384
Interdisciplinary                      0.770901
dtype: float64

Creates an empty array to store the average ShareWomen for each major, then loops through all of the categories to find their averages and add them to the array. Then creates a series using the averages and uses the series containing all the Major_category data as the index.

In [10]:
meanShrWmn.sort_values(ascending=False)

Health                                 0.795152
Psychology & Social Work               0.794397
Interdisciplinary                      0.770901
Education                              0.748507
Communications & Journalism            0.658384
Humanities & Liberal Arts              0.631790
Arts                                   0.603658
Biology & Life Science                 0.587193
Social Science                         0.553962
Physical Sciences                      0.508683
Law & Public Policy                    0.483649
Business                               0.483198
Agriculture & Natural Resources        0.405267
Industrial Arts & Consumer Services    0.349523
Computers & Mathematics                0.311772
Engineering                            0.238889
dtype: float64

Sorts the average ShareWomen in each category from high to low.

The major categories with the highest ShareWomen are health, psychology & social work, interdisciplinary (only 1 major in this category), and education, which is consistent with the categories of the 10 most popular majors among women. 

The major category with the lowest ShareWomen is engineering, which is consistent with the 10 least popular majors among women. 

This goes back to the high standard deviation. Even though the average ShareWomen overall is about half, some types of majors are significantly more popular among women.

## What kinds of majors pay the most?

In [11]:
avgMedians = []

for category in majCats: 
    maj = df.loc[df.Major_category == category]
    majMean = sum(maj.Median) / len(maj)
    avgMedians.append(majMean)

meanMedian = pd.Series(avgMedians, index = majCats)
meanMedian

Engineering                            57382.758621
Business                               43538.461538
Physical Sciences                      41890.000000
Law & Public Policy                    42200.000000
Computers & Mathematics                42745.454545
Industrial Arts & Consumer Services    36342.857143
Arts                                   33062.500000
Health                                 36825.000000
Social Science                         37344.444444
Biology & Life Science                 36421.428571
Education                              32350.000000
Agriculture & Natural Resources        35111.111111
Humanities & Liberal Arts              31913.333333
Psychology & Social Work               30100.000000
Communications & Journalism            34500.000000
Interdisciplinary                      35000.000000
dtype: float64

Uses the same method from finding the average ShareWomen in each Major_category to find the average Median in each Major_category.

In [12]:
meanMedian.sort_values(ascending=False)

Engineering                            57382.758621
Business                               43538.461538
Computers & Mathematics                42745.454545
Law & Public Policy                    42200.000000
Physical Sciences                      41890.000000
Social Science                         37344.444444
Health                                 36825.000000
Biology & Life Science                 36421.428571
Industrial Arts & Consumer Services    36342.857143
Agriculture & Natural Resources        35111.111111
Interdisciplinary                      35000.000000
Communications & Journalism            34500.000000
Arts                                   33062.500000
Education                              32350.000000
Humanities & Liberal Arts              31913.333333
Psychology & Social Work               30100.000000
dtype: float64

Ranks the each Major_category from highest to lowest average Median.

Engineering (the Major_category with the lowest ShareWomen) pays the most. 

Psychology & Social Work (the Major_category with the second-highest ShareWomen) pays the least.

In [13]:
pd.concat([meanShrWmn, meanMedian], axis=1)

                                            0             1
Engineering                          0.238889  57382.758621
Business                             0.483198  43538.461538
Physical Sciences                    0.508683  41890.000000
Law & Public Policy                  0.483649  42200.000000
Computers & Mathematics              0.311772  42745.454545
Industrial Arts & Consumer Services  0.349523  36342.857143
Arts                                 0.603658  33062.500000
Health                               0.795152  36825.000000
Social Science                       0.553962  37344.444444
Biology & Life Science               0.587193  36421.428571
Education                            0.748507  32350.000000
Agriculture & Natural Resources      0.405267  35111.111111
Humanities & Liberal Arts            0.631790  31913.333333
Psychology & Social Work             0.794397  30100.000000
Communications & Journalism          0.658384  34500.000000
Interdisciplinary                    0.770901  35000.000000

Appends the two series to be compared and ranks them based on average median salary.

The majors with the highest ShareWomen all rank below the majors with a lower ShareWomen. This is consistent with the correlation between ShareWomen and lowering rankings in the original data.