In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression

people = pd.read_csv('people.csv')
people

      Name  Height   GPA  Friends       Sport       Shoes
0   Dakota      72  3.15      307  basketball    sneakers
1   Hayden      68  3.50      335      tennis  flip flops
2  Charlie      61  1.10       34    baseball  flip flops
3   Kamryn      66  2.18      200      soccer    sneakers
4  Emerson      65  3.06      213      soccer    sneakers
5   Jessie      61  2.41      202  basketball  flip flops
6   Sawyer      67  2.96      314      tennis  flip flops
7   London      64  3.98      436      soccer    sneakers

In [3]:
x = people['GPA'].values.reshape(-1, 1)
y = people['Friends'].values.reshape(-1, 1)

In [4]:
reg = LinearRegression().fit(x, y)
reg

LinearRegression()

In [5]:
reg.coef_ # slope

array([[129.75344623]])

In [6]:
reg.intercept_

array([-107.2114986])

In [7]:
reg.score(x,y) # r-squared

0.9137344895912347

In [8]:
# https://stackabuse.com/linear-regression-in-python-with-scikit-learn/
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html