# Python Crash Course

This is my cheat sheet.

Here is my Hello World:

In [1]:
print('Hello world')

Hello world

## Variables

In [2]:
x = 7
print(x)

y = 'Good morning!'
print(y)

# same as JavaScript - variables can be numbers or strings

7
Good morning!

## Comments

In [3]:
# This is how to do a comment

In [4]:
"""
This is a 
multi-line
comment.
"""

'\nThis is a \nmulti-line\ncomment.\n'

## Casting and Concatenation

In [5]:
print(y + ' is ' + str(x))

# cannot use strings and numbers in the same statement - must convert numbers into strings

Good morning! is 7

In [6]:
print(type(y))

<class 'str'>

Defining multiple variables in one line

In [7]:
a, b, c = 'red', 12, 'purple'

print(a, b, c)
print(a)
print(b)
print(c)

red 12 purple
red
12
purple

Setting multiple variables to the same value

In [8]:
d = e = f = 'orange'

print(d)
print(e)
print(f)

orange
orange
orange

## Cast Float To Int

In [9]:
g = 5.7
print(g)

5.7

Turning a number into an integer

In [10]:
int(g)

5

In [11]:
m = int(g)
print(g)

5.7

## Strings

In [12]:
h = """Good morning everyone
how has your day been?
I am tired"""
print(h)

Good morning everyone
how has your day been?
I am tired

## Slicing Strings

In [13]:
firstWord = h[:4]
print(firstWord)

Good

In [14]:
print(h.upper())
# h.upper does not change h - it only changes it for that instance

GOOD MORNING EVERYONE
HOW HAS YOUR DAY BEEN?
I AM TIRED

In [15]:
print(h)

Good morning everyone
how has your day been?
I am tired

## Formatting Strings

In [16]:
age = 17
j = "My name is Nathalie, and I am {}"
print(j.format(age))

My name is Nathalie, and I am 17

## Escape Characters

In [17]:
s = 'This is how to use \'quotations\' in quotations'
print(s)

This is how to use 'quotations' in quotations

## String Methods

In [18]:
# len

txt = 'Hello World'
print(len(txt))

11

In [19]:
# first letter

x = txt[0]
print(x)

H

In [20]:
x = txt[2:5]
print(x)

llo

In [21]:
# remove white space

txt = ' Hello World '
x = txt.strip()
print(x)

Hello World

In [22]:
# upper

txt = 'Hello World'
txt = txt.upper()
print(txt)

HELLO WORLD

In [23]:
# lower

txt = 'Hello World'
txt = txt.lower()
print(txt)

hello world

In [24]:
# replace

txt = "Hello World"
txt = txt.replace('H', 'J')
print(txt)

Jello World

In [25]:
# format

age = 17
txt = 'My name is Nathalie, and I am {}'
print(txt.format(age))

My name is Nathalie, and I am 17

## Operators

In [26]:
# floor division - divides and rounds down

l = 24
m = 7
n = l//m
print(n == 3.4)

False

## Collections

In [27]:
# List (most similar to arrays) - can use strings, numbers, Booleans, etc.

pirateThings = ['parrot', 'treasure map', 'sword', 'cannon']
print(pirateThings)

['parrot', 'treasure map', 'sword', 'cannon']

In [28]:
print(pirateThings[2])

sword

In [29]:
pirateThings[1] = 'hook'
print(pirateThings)

['parrot', 'hook', 'sword', 'cannon']

In [30]:
pirateThings.remove('cannon')
print(pirateThings)

['parrot', 'hook', 'sword']

In [31]:
pirateThings.pop(1)
print(pirateThings)

['parrot', 'sword']

In [32]:
for thing in pirateThings:
    print(thing)

parrot
sword

In [34]:
for i in range(len(pirateThings)):
    print(pirateThings[i])

parrot
sword

In [ ]:
# Tuple - cannot be changed after it is created

tuple = ('octopus', 'plankton', 'squid')

In [35]:
# Set - cannot have duplicates, unordered, cannot change previous items but can add new items

set = {'red', 'orange', 'yellow'}

In [42]:
# Dictionary (similar to objects in JavaScript)

Nathalie = {
    'age' : 17,
    'grade' : 'senior'
    'classes' = ['Envi sci', 'Calc', 'Feminist lit', 'Spanish', 'Structural design', 'Data science']
}

SyntaxError: invalid syntax (772071247.py, line 6)

## Loops

In [36]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9